doctype html
html
  head
    meta(charset='utf-8')
    title Login to BOOKBOOKBOOK
  body
    label
      .label-text What's your email?
      input(type='email', value='gcasper@gmail.com').email-input
    button.submit-btn Login!

    script(src='/javascripts/login.js')

