// General

body
  font-size 1.2em

a
  color blue

  &.active
    color black
    text-decoration none
    background #ffe

@import './header/header'
@import './header/navigation'
@import './books/controls'
@import './books/overview'
@import './book/book'
@import './book/cover'
@import './book/add'
@import './book/rating'
@import './timeline/timeline'
@import './notes/notes'
@import './tags/tags'
// @import './stats/stats'
// @import './quickview/quickview'
