.page.show-hash-tag-container

  .hash-tag-header
    display flex

  .book
    border-bottom 1px solid #ccc
    margin-bottom 20px
    padding-bottom 20px
    display flex

    .info
      width 300px

    .notes
      max-width 40em

      .note
        margin .5em 1em .5em 0
        padding .5em 0
        font-size 1.2em
        font-family monospace
        white-space pre-line
        border-bottom 1px solid #ccc
        &:last-child
          border none
