body {
  font-size: 1.2em;
}
a {
  color: #00f;
}
a.active {
  color: #000;
  text-decoration: none;
  background: #ffe;
}
.header-component {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.header-component .header-sub-container {
  flex: 1;
  display: flex;
  align-items: center;
  border-left: 1px solid #ccc;
  margin-left: 10px;
  padding-left: 10px;
}
.header-component .error-container,
.header-component .loading-container {
  font-size: 16px;
  display: flex;
  align-items: center;
}
.header-component .error-container {
  color: #900;
}
.header-component .loading-container {
  color: #ccc;
}
.navigation-component a {
  margin-right: 5px;
}
.navigation-component a:last-child {
  margin-right: 0;
}
.navigation-component a.active {
  color: #000;
  text-decoration: none;
}
.books-tabs-component {
  display: flex;
  margin-left: 10px;
}
.books-tabs-component a {
  margin-right: 5px;
}
.books-tabs-component a:last-child {
  margin-right: 0;
}
.books-overview-component {
  display: flex;
  flex-wrap: wrap;
}
.book-component .sidebar {
  margin-right: 20px;
}
.book-component .book-display {
  display: flex;
  flex-direction: row;
}
.book-component .book-display .title {
  margin: 0;
}
.book-component .book-display .authors {
  font-weight: 400;
  font-size: 1em;
  margin: 0;
}
.book-component .book-display .category {
  font-style: italic;
  margin: 0 0 0.5em;
}
.book-component .description {
  max-width: 40em;
}
.book-component .content,
.book-component .summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.book-component .summary {
  margin: 0.5em 0;
}
.book-summary-item-component {
  display: flex;
}
.book-summary-item-component.muted {
  color: #aaa;
}
.book-summary-item-component .label {
  width: 100px;
}
.book-notes-component {
  background: #f5f5f5;
  padding: 1em;
  max-width: 40em;
}
.book-notes-component strong {
  font-weight: normal;
  background: #ff0;
  outline: 1px solid #ffa500;
}
.book-notes-component .book-notes-edit-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #f5f5f5;
}
.book-notes-component .book-notes-edit-container textarea {
  flex: 1;
  padding: 1em 9px;
  font-family: monospace;
  font-size: 1em;
}
.book-notes-component .book-notes-edit-container button {
  font-weight: bold;
  align-self: flex-end;
}
.book-cover-component {
  position: relative;
  width: 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 0 0 -1px -1px;
  border: 1px solid #ccc;
}
.book-cover-component:before,
.book-cover-component:after {
  position: absolute;
  top: 0;
  color: #008000;
  padding: 3px;
}
.book-cover-component:before {
  left: 0;
}
.book-cover-component:after {
  right: 0;
}
.book-cover-component.reading:before {
  content: 'R';
}
.book-cover-component.exlibris:before {
  content: '✈';
}
.book-cover-component:hover {
  cursor: pointer;
}
.book-cover-component .cover-container {
  flex: 1;
}
.book-cover-component .rated-null {
  display: none;
}
.book-cover-component .star:hover {
  color: #000;
}
.book-add-book-component {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
}
.book-add-book-component .book-preview {
  border: 5px solid #000;
  position: absolute;
  z-index: 1;
  background: #f5f5f5;
  padding: 10px;
  display: flex;
}
.book-add-book-component .book-preview .info {
  margin-left: 10px;
  max-width: 20em;
}
.book-add-book-component .book-preview .info h1,
.book-add-book-component .book-preview .info h2 {
  margin: 0;
}
.book-add-book-component .book-preview .info h1 {
  font-size: 1.6em;
}
.book-add-book-component .book-preview .info h2 {
  font-size: 1em;
  font-weight: 400;
}
.book-add-book-component .book-preview .info small {
  font-size: 1.1em;
  font-weight: 800;
}
.rating-component {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.rating-component.unrated {
  color: #ccc;
}
.rating-component .star:hover {
  color: #f00;
}
.timeline-component .timeline-container {
  border-left: 1px solid #000;
  margin-left: 80px;
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 0 0 1px;
}
.timeline-component .booklist-container {
  position: relative;
  list-style: none;
  margin: 0;
  display: flex;
}
.timeline-component .booklist-container li {
  display: flex;
  align-items: flex-start;
  background: #ff6347;
  width: 95px;
  transition: 0.2s;
  margin: 0 3px;
  position: absolute;
}
.timeline-component .booklist-container li.rating-5 {
  background: #244906;
}
.timeline-component .booklist-container li.rating-4 {
  background: #366e00;
}
.timeline-component .booklist-container li.rating-3 {
  background: #4d940a;
}
.timeline-component .booklist-container li.rating-2 {
  background: #6aae0d;
}
.timeline-component .booklist-container li.rating-1 {
  background: #9bd240;
}
.timeline-component .booklist-container li.rating-1,
.timeline-component .booklist-container li.rating-2,
.timeline-component .booklist-container li.rating-3,
.timeline-component .booklist-container li.rating-4,
.timeline-component .booklist-container li.rating-5 {
  background: #87ceeb;
}
.timeline-component .booklist-container li.abandoned {
  background: #ccc;
}
.timeline-component .booklist-container li:hover:before,
.timeline-component .booklist-container li:hover:after {
  z-index: 0;
  content: '';
  border-top: 1px solid rgba(0,0,0,0.2);
  position: absolute;
  top: 0px;
  left: -9999em;
  right: 0;
}
.timeline-component .booklist-container li:hover:after {
  top: auto;
  bottom: -1px;
}
.timeline-component .booklist-container li .timeline-cover-small {
  width: 50px;
  border: 1px solid #000;
  position: relative;
  z-index: 1;
}
.timeline-component .datelist-container {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  color: #ccc;
  font-size: 13px;
  line-height: 20px;
}
.timeline-component .datelist-container li {
  width: 70px;
  padding-right: 10px;
  position: absolute;
}
.timeline-component .datelist-container li.sunday {
  color: #ff6347;
}
.timeline-component .datelist-container li.highlight {
  color: #000;
}
.timeline-component .datelist-container li:hover {
  color: #000;
}
.timeline-component .datelist-container li:after {
  content: '';
  border-top: 1px solid #aaa;
  width: 10px;
  position: absolute;
  right: 1px;
}
.timeline-component .show-book-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
  right: 100px;
  z-index: 2;
  padding: 0 10px 10px;
}
.timeline-component .show-book-container .show-book {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.timeline-component .show-book-container .show-book > * {
  margin: 5px 0;
}
.timeline-component .show-book-container small {
  font-weight: 400;
  display: block;
}
.timeline-component .show-book-container p {
  margin: 0;
}
.timeline-component .show-book-container .stars-container {
  justify-content: flex-start;
}
.notes-component .notes-wrapper .sidebar {
  position: fixed;
  top: 50px;
  left: 10px;
  bottom: -1px;
  width: 300px;
  border: 1px solid #ccc;
}
.notes-component .notes-wrapper .sidebar .sidebar-header {
  height: 30px;
  display: flex;
  background: #f5f5f5;
}
.notes-component .notes-wrapper .sidebar .sidebar-header a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notes-component .notes-wrapper .sidebar .sidebar-header a.active {
  background: #fff;
}
.notes-component .notes-wrapper .sidebar .sidebar-list {
  overflow-y: auto;
  position: fixed;
  top: 82px;
  left: 10px;
  bottom: -1px;
  width: 300px;
}
.notes-component .notes-wrapper .sidebar .sidebar-item {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.notes-component .notes-wrapper .sidebar .sidebar-item.active {
  background: #ffe;
}
.notes-component .notes-wrapper .sidebar .sidebar-item img {
  margin-right: 5px;
  width: 64px;
}
.notes-component .notes-wrapper .sidebar .sidebar-item h1,
.notes-component .notes-wrapper .sidebar .sidebar-item h2 {
  margin: 0;
  font-size: 1em;
}
.notes-component .notes-wrapper .sidebar .sidebar-item h2 {
  font-weight: 400;
  font-size: 0.8em;
}
.notes-component .notes-wrapper .content {
  margin-left: 330px;
}
.notes-component .notes-wrapper .content h1 a {
  font-weight: 400;
  font-size: 20px;
  margin-left: 10px;
}
.tags-component .tags-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.tags-component .tags-wrapper .sidebar {
  margin-right: 20px;
  padding: 10px;
  background: #f5f5f5;
}
.tags-component .tags-wrapper .sidebar .tag-item {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tags-component .tags-wrapper .sidebar .tag-item:last-child {
  margin-bottom: 0;
}
.tags-component .tags-wrapper .sidebar .tag-item small {
  margin-left: 10px;
}
.tags-component .preview-container {
  flex: 1;
}
.tags-component .preview-container .preview-item {
  display: flex;
  align-items: flex-start;
}
.tags-component .preview-container .preview-item .book-cover-component {
  margin-right: 20px;
}
.tags-component .preview-container .book-notes-component {
  margin-bottom: 20px;
}
