.book-add-book-component
  margin-left 10px
  padding-left 10px
  border-left 1px solid #ccc

  .book-preview
    border 5px solid black
    position absolute
    z-index 1
    background #f5f5f5
    padding 10px
    display flex

    .info
      margin-left 10px
      max-width 20em

      h1, h2
        margin 0

      h1
        font-size 1.6em

      h2
        font-size 1em
        font-weight 400

      small
        font-size 1.1em
        font-weight 800

