.book-component

  .sidebar
    margin-right 20px

  .book-display
    display flex
    flex-direction row

    .title
      margin 0

    .authors
      font-weight 400
      font-size 1em
      margin 0 0 .5em

  .description
    max-width 40em

  .content, .summary
    display flex
    flex-direction column
    align-items flex-start

  .summary
    margin .5em 0


.book-summary-item-component
  display flex

  &.muted
    color #aaa

  .label
    width 80px

.book-notes-component
  background #f5f5f5
  padding 1em
  max-width 40em

  strong
    font-weight normal
    background yellow
    outline 1px solid orange

  textarea
    margin 1em 0
    padding 1em 9px
    font-family monospace
    font-size 1em
