.quick-view-component

  .quick-view-container
    position absolute
    z-index 1
    background white
    margin 5px 0
    display flex
    border 1px solid black
    padding 10px

    .left
      margin-right 10px

    .right
      .title
        font-weight 800

      .category-pagecount
        font-style italic
        margin-bottom .5em

